// 	MAIN

// global box-sizing
* {
	// &:after, &:before {
	// 	box-sizing:border-box;
	// 	font-smoothing:antialiased;
	// 	text-rendering:optimizeLegibility;
	// }
}

// html element 62.5% font-size for REM use
html {
	// font-size:62.5%;
}

body {
	// font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	// color:#444;
}

img {
	max-width:100%;
	vertical-align:bottom;
}

a {
	// color:#444;
	// text-decoration:none;
	// &:hover {
	// 	color:#444;
	// }
	// &:focus {
	// 	outline:0;
	// }
	// &:hover,
	// &:active {
	// 	outline:0;
	// }
}

input:focus {
	// outline:0;
	// border:1px solid #04A4CC;
}